<p>
  <strong><%= comment.commenter %></strong>:
  <%= comment.body %>
  <%= link_to '✖️', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>

